@import "../variables/colors.scss";
@import "../variables/font-family.scss";
@import "../mixins/resets/reset-styles-button.scss";
@import "../mixins/resets/reset-styles-list.scss";
@import "../variables/breakpoint.scss";

.additional-product {
  &__title {
    @include reset-styles-list;
    font-family: $font-oswald;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;

    @media ($tablet) {
      font-size: 20px;
      color: $color-gray-darkest;
    }

    @media ($desktop) {
      width: 300px;
    }
  }

  &__properties {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 14px;

    @media ($tablet) {
      font-size: 16px;
      margin: 0;
      width: 230px;
    }

    @media ($desktop) {
      width: 300px;
    }
  }

  &__price {
    text-transform: uppercase;
  }

  &__order-button {
    @include reset-styles-button;
    max-width: unset;

    &:hover {
      background-color: $color-green-dark;
    }

    &:active {
      color: $color-green-light;
    }

    @media ($tablet) {
      max-width: 100%;
      margin-top: 25px;
    }

    @media ($desktop) {
      width: 250px;
      margin: 0;
    }
  }
}
