@import "./variables/colors.scss";
@import "./variables/font-family.scss";

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-oswald;
  color: $color-white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto;
  padding: 11px 10px;
  width: 100%;
  max-width: 280px;
  background-color: $color-green-deafault;
  cursor: pointer;
}
