.button {
  box-sizing: border-box;
  font-family: $oswald;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
