@import "../variables/colors.scss";
@import "../mixins/resets/reset-styles-heading.scss";
@import "../variables/breakpoint.scss";

.catalog {
  &__wrapper {
    border-top: 1px solid $color-gray-middle;
  }

  &__title {
    @include reset-styles-heading;
    padding: 22px 0;
    margin-left: 22px;
  }
}

@media (min-width: $width-tablet) {
  .catalog {
    &__wrapper {
      border: none;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 0 30px 82px;
      margin-left: 0;
    }
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    &__wrapper {
      padding-top: 220px;
    }

    &__title {
      padding: 0px 110px 100px;
    }
  }
}
