@import "./variables/colors.scss";
@import "./mixins/resets/reset-styles-heading.scss";

.catalog {
  &__wrapper {
    border-top: 1px solid $color-gray-middle;
    padding-bottom: 35px;
  }

  &__title {
    @include reset-styles-heading;
    padding: 22px 0;
    margin-left: 22px;
  }
}
