@import "../variables/colors.scss";
@import "../variables/breakpoint.scss";

.footer {
  &__wrapper {
    padding: 38px 20px 22px;
  }

  &__logo {
    display: flex;
  }

  &__logo-link {
    margin: auto;
    width: 128px;
    height: 24px;
  }

  &__social {
    border-top: 1px solid $color-gray-middle;
    border-bottom: 1px solid $color-gray-middle;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $width-tablet) {
  .footer {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 60px;
    }

    &__social {
      border: none;
      margin: 0;
    }

    &__copyright {
      width: 162px;
    }
  }
}
