@import "../variables/colors.scss";
@import "../variables/font-family.scss";
@import "../mixins/resets/reset-styles-button.scss";
@import "../mixins/resets/reset-styles-list.scss";
@import "../variables/breakpoint.scss";

.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &__fieldset-group {
    @media ($desktop) {
      display: flex;
      padding: 0 110px;
      justify-content: space-between;
    }
  }

  &__fieldset {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }

  &__fieldset-title {
    font-family: $font-oswald;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    // padding-left: 20px;
    // padding-right: 20px;
    margin: 20px 0;
    background-color: $color-white;

    &::before {
      position: absolute;
      content: "";
      top: 35px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-green-default;
    }

    // &--contacts {
    //   width: 57%;
    //   max-width: 350px;
    // }

    // &--comments {
    //   width: 40%;
    //   max-width: 130px;
    // }

    // &--additional {
    //   width: 45%;
    //   max-width: 150px;
    // }

    @media ($tablet) {
      font-size: 32px;
      line-height: 32px;
      margin: 70px 30px 0;
      // padding-left: 40px;
      // padding-right: 50px;

      &::before {
        top: 85px;
      }

      // &--contacts {
      //   min-width: 460px;
      // }

      // &--comments {
      //   min-width: 170px;
      // }

      // &--additional {
      //   min-width: 190px;
      // }
    }

    @media ($desktop) {
      margin-left: 70px;
    }
  }

  &__fieldset-title-content {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-white;

    @media($tablet) {
      padding-left: 40px;
      padding-right: 50px;
    }
  }

  &__fieldset-textarea {
    padding: 0 20px;

    @media ($tablet) {
      padding: 0 70px;
    }

    @media ($desktop) {
      padding: 0 110px;
    }
  }

  &__legend {
    display: none;
  }

  &__list {
    @include reset-styles-list;
    box-sizing: border-box;
    padding: 22px 20px;
    margin: auto;

    &--type-nutrition-data {
      border-top: 1px solid $color-gray-light;
      border-bottom: 1px solid $color-gray-light;
    }

    @media ($tablet) {
      font-size: 20px;
      line-height: 20px;
      padding: 0 70px;
      margin-top: 70px;

      &--type-nutrition-data {
        border: 1px solid $color-gray-light;
        padding: 25px 30px;
        margin: 70px 70px 0;
      }

      &--type-additional {
        display: flex;
        flex-wrap: wrap;
      }
    }

    @media ($desktop) {
      &--type-cat-data {
        padding: 0;
        width: 570px;
      }

      &--type-nutrition-data {
        width: 570px;
        padding: 38px 30px;
        margin: 70px 0 0;
      }

      &--type-owner-data {
        display: flex;
        justify-content: space-between;
        padding: 0 110px;
      }

      &--type-additional {
        justify-content: space-between;
        padding: 0 110px;
      }
    }
  }

  &__item {
    position: relative;
    margin-bottom: 15px;
    padding: 5px 0;

    &:last-child {
      margin-bottom: 0;
    }

    @media ($tablet) {
      margin-bottom: 25px;

      &--type-additional {
        width: 310px;
        margin-bottom: 50px;
      }

      &--type-additional:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    @media ($desktop) {
      &--type-owner-data {
        width: 570px;
      }

      &--type-additional {
        width: 245px;
      }
    }
  }

  &__button-container {
    padding: 30px 0;

    @media ($tablet) {
      display: flex;
      padding: 55px 0;
    }

    @media ($desktop) {
      padding: 80px 0;
    }
  }

  &__button {
    @include reset-styles-button;

    &:hover {
      background-color: $color-green-dark;
    }

    &:active {
      color: $color-green-light;
    }

    @media ($tablet) {
      margin-left: 70px;
      margin-right: 35px;
    }

    @media ($desktop) {
      width: 570px;
      max-width: unset;
      margin-right: 80px;
      margin-left: 110px;
    }
  }

  &__hint {
    font-family: $font-arial;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: none;

    @media ($tablet) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
