@import "./variables/colors.scss";
@import "./variables/font-family.scss";
@import "./mixins/resets/reset-styles-heading.scss";

.form-page__wrapper {
  border-top: 1px solid $color-gray-middle;
  color: $color-black;
  font-family: $font-oswald;
  font-weight: normal;
}

.form-page__title {
  @include reset-styles-heading;
  padding: 21px 0 24px 20px;
}

.form-page__comment {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  margin-top: 0;
}
