@import "../variables/colors.scss";
@import "../variables/font-family.scss";
@import "../mixins/resets/reset-styles-list.scss";
@import "../variables/breakpoint.scss";

.navigation {
  &__toggle-button {
    position: absolute;
    top: 12px;
    left: calc(100% - 80px);
    width: 60px;
    height: 42px;
    padding: 0;
    background-color: transparent;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 18px;
    border: none;
    cursor: pointer;

    &--close {
      background-image: url("../img/icon-close.svg");
    }

    @media ($tablet) {
      display: none;
    }
  }

  &__list {
    @include reset-styles-list;
    display: none;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;

    &--opend {
      display: block;
    }

    &--no-js {
      display: block;
    }

    @media ($tablet) {
      display: flex;
      margin-top: 0;
    }
  }

  &__list-item {
    padding: 20px 0;
    border-bottom: 1px solid $color-black;

    &:first-child {
      border-top: 1px solid $color-black;
    }

    @media ($tablet) {
      margin-right: 35px;
      padding: 0;
      border: none;

      &:first-child {
        border: none;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    font-family: $font-oswald;
    font-size: 16px;
    line-height: 16px;
    color: $color-black;
    text-decoration: none;

    @media ($tablet) {
      font-size: 18px;
      line-height: 18px;
      padding-bottom: 5px;

      &--active {
        border-bottom: 3px solid $color-green-default;
      }

      &[href]:hover {
        opacity: 0.7;
      }

      &[href]:active {
        opacity: 0.3;
      }
    }

    @media ($desktop) {
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 7px;

      &--color-white {
        color: $color-white;
      }

      &--active-white {
        border-bottom: 3px solid $color-white;
      }
    }
  }
}
