@import "./variables/colors.scss";
@import "./variables/font-family.scss";
@import "./mixins/resets/reset-styles-list.scss";

.navigation {
  &__toggle-button {
    position: absolute;
    top: 12px;
    left: calc(100% - 80px);
    width: 60px;
    height: 42px;
    padding: 0;
    background-color: transparent;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 18px;
    border: none;
    cursor: pointer;

    &--close {
      background-image: url("../img/icon-close.svg");
    }

  }

  &__list {
    @include reset-styles-list;
    display: none;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;

    &--opend {
      display: block;
    }

    &--no-js {
      display: block;
    }
  }

  &__list-item {
    padding: 20px 0;
    border-bottom: 1px solid $color-black;

    &:first-child {
      border-top: 1px solid $color-black;
    }
  }

  &__link {
    font-family: $font-oswald;
    font-size: 16px;
    line-height: 16px;
    color: $color-black;
    text-decoration: none;
  }
}
