@import "../variables/colors.scss";
@import "../variables/font-family.scss";
@import "../mixins/resets/reset-styles-button.scss";
@import "../mixins/resets/reset-styles-list.scss";
@import "../mixins/resets/reset-styles-heading.scss";
@import "../variables/breakpoint.scss";

.product {
  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__img-box {
    display: flex;
  }

  &__image {
    margin: auto;
    width: 100%;
  }

  &__title {
    @include reset-styles-heading;
    color: $color-black;
    font-family: $font-oswald;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    width: 100px;
  }

  &__properties {
    @include reset-styles-list;
    font-size: 12px;
    line-height: 16px;
    width: 141px;
    margin: 15px 0;
  }

  &__properties-group {
    display: flex;
    justify-content: space-between;
  }

  &__order-button {
    @include reset-styles-button;
    max-width: 100%;

    &:hover {
      background-color: $color-green-dark;
    }

    &:active {
      color: $color-green-light;
    }
  }
}

@media (min-width: $width-tablet) {
  .product {
    &__container {
      flex-direction: column;
    }

    &__img-box {
      height: 160px;
      align-items: flex-end;
      margin: 0 -38px 50px;
    }

    &__description {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 20px;
      line-height: 20px;
      font-weight: 200;
      text-align: center;
      width: 140px;
      margin: auto;
    }

    &__properties {
      font-size: 16px;
      line-height: 16px;
      width: 100%;
      margin: 25px auto 35px;
    }

    &__properties-group {
      border-bottom: 1px solid $color-gray-havy-dark;
      padding: 10px 0;
    }
  }
}
