.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__text {
  margin-left: 40px;
  user-select: none;
}

.radio__text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px $gray-middle;
}

.radio__input:not(:disabled):not(:checked) + .radio__text:hover::before {
  box-shadow: 0 0 0 1px $gray-dark;
}

.radio__input:not(:disabled):active + .radio__text {
  opacity: 0.6;
}

.radio__input:not(:disabled):active + .radio__text::before {
  opacity: 0.6;
}

.radio__input:checked + .radio__text::before {
  background-color: $green-deafault;
}
