@import "./variables/colors.scss";
@import "./variables/font-family.scss";
@import "./mixins/resets/reset-styles-list.scss";
@import "./mixins/resets/reset-styles-heading.scss";

.real-case {
  background-color: $color-gray-default;

  &__text-content {
    padding: 16px 20px;
  }

  &__title {
    @include reset-styles-heading;
    margin-bottom: 33px;
  }

  &__description {
    margin: 0;
  }

  &__indicators {
    @include reset-styles-list;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 38px;
  }

  &__indicators-group {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 124px;
    height: 56px;
    border: 1px solid $color-gray-dark;
    border-radius: 5px;
  }

  &__indicator-title {
    position: absolute;
    top: 47px;
    left: calc(50% - 43px);
    box-sizing: border-box;
    width: 87px;
    font-size: 12px;
    line-height: 12px;
    margin: auto;
    text-align: center;
    padding: 3px 16px;
    background-color: $color-gray-default;
  }

  &__indicator-value {
    font-family: $font-oswald;
    color: $color-black;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin: auto;
  }

  &__expenses {
    font-family: $font-oswald;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 38px;
  }
}


