@import "../variables/colors.scss";
@import "../variables/font-family.scss";
@import "../mixins/resets/reset-styles-list.scss";
@import "../mixins/resets/reset-styles-heading.scss";
@import "../variables/breakpoint.scss";

.real-case {
  background-color: $color-gray-default;

  &__text-content {
    padding: 16px 20px;
  }

  &__title {
    @include reset-styles-heading;
    margin-bottom: 33px;
    width: 100%;
  }

  &__description {
    margin: 0 45px 0 0;
  }

  &__indicators {
    @include reset-styles-list;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 38px;
  }

  &__indicators-group {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 124px;
    height: 56px;
    border: 1px solid $color-gray-dark;
    border-radius: 5px;
  }

  &__indicator-title {
    position: absolute;
    top: 47px;
    left: calc(50% - 43px);
    box-sizing: border-box;
    width: 87px;
    font-size: 12px;
    line-height: 12px;
    margin: auto;
    text-align: center;
    padding: 3px 16px;
    background-color: $color-gray-default;
  }

  &__indicator-value {
    font-family: $font-oswald;
    color: $color-black;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin: auto;
  }

  &__expenses {
    font-family: $font-oswald;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 38px;
  }
}

@media (min-width: $width-tablet) {
  .real-case {
    background-color: transparent;
    border-top: 1px solid $color-gray-light;

    &__text-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: last baseline;
      padding: 42px 30px 80px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 65px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    &__indicators {
      margin: 53px 0 0;
      justify-content: initial;
    }

    &__indicators-group {
      width: 162px;
      height: 72px;

      &:nth-child(n + 2) {
        margin-left: 40px;
      }
    }

    &__indicator-title {
      font-size: 14px;
      line-height: 14px;
      top: 65px;
      left: 25px;
      background-color: $color-white;
      width: auto;
      padding: 0 5px;

      &--long {
        left: 12px;
      }
    }

    &__indicator-value {
      font-size: 30px;
      line-height: 30px;
    }

    &__expenses {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
      color: $color-black;
      width: 200px;
      text-align: right;
    }
  }
}

@media (min-width: $width-desktop) {
  .real-case {
    display: flex;
    border: none;
    background-image: linear-gradient(to bottom, $color-white 175px, $color-gray-default 101px);

    &__text-content {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__title {
      margin-bottom: 140px;
    }

    &__description {
      margin-right: 210px;
    }

    &__indicators {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    &__indicator-title {
      background-color: $color-gray-default;
    }

    &__expenses {
      width: auto;

      &--part-two {
        margin-left: 50px;
      }
    }
  }
}
