.real-case {
  background-color: $gray-default;
}

.real-case__text-content {
  padding: 16px 20px 16px 20px;
}

.real-case__title {
  @include reset-styles-heading;
  margin-bottom: 33px;
}

.real-case__description {
  margin: 0;
}

.real-case__indicators {
  @include reset-styles-list;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 38px;
}

.real-case__indicators-group {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 124px;
  height: 56px;
  border: 1px solid $gray-dark;
  border-radius: 5px;
}

.real-case__indicator-title {
  position: absolute;
  top: 47px;
  left: calc(50% - 43px);
  box-sizing: border-box;
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  margin: auto;
  text-align: center;
  padding: 3px 16px 3px 16px;
  background-color: $gray-default;
}

.real-case__indicator-value {
  font-family: $oswald;
  color: $font-color-black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: auto;
}

.real-case__expenses {
  font-family: $oswald;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 38px;
}
