.slider__wrapper {
  width: 311px;
  margin: auto;
  padding-bottom: 35px;
}

.slider__list {
  @include reset-styles-list;
  position: relative;
  min-height: 240px;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  width: 100%;
  height: 100%;
}

.slider__item--active {
  visibility: visible;
  opacity: 1;
}

.slider__controls {
  display: flex;
  width: 200px;
  margin: 33px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}

.slider__button {
  @include reset-styles-button;
  padding: 0;
  border-bottom: 1px dashed $gray-dark;
  font-size: 14px;
  line-height: 18px;
  color: $font-color-gray;
  width: fit-content;
  background-color: transparent;
}

.slider__button:hover {
  border-bottom: 1px solid $gray-havy-dark;
}

.slider__button:active {
  border-bottom: 1px solid $gray-default;
}

.slider__tumbler-container {
  position: relative;
  box-sizing: border-box;
  width: 85px;
  height: 14px;
  border: 1px solid $gray-dark;
  border-radius: 6px;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.slider__tumbler {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: $green-deafault;
  transition: left 1s, transform 1s;
}

.slider__tumbler--position-after {
  left: calc(100% - 40px);
}
