@import "../mixins/resets/reset-styles-list.scss";
@import "../variables/breakpoint.scss";

.social {
  &__list {
    @include reset-styles-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    min-height: 65px;
  }

  &__item {
    margin-right: 40px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 28px;

    &:hover .social__image {
      fill: $color-green-default;
    }

    &:active .social__image {
      opacity: 0.6;
    }
  }

  &__image--vk {
    width: 22px;
    height: 12px;

    @media ($tablet) {
      width: 30px;
      height: 16px;
    }
  }

  &__image--insta {
    width: 16px;
    height: 16px;

    @media ($tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &__image--fb {
    width: 10px;
    height: 19px;

    @media ($tablet) {
      width: 14px;
      height: 28px;
    }
  }
}
