.social__list {
  @include list-styles-reset;
  display: flex;
  justify-content: space-between;
  width: 125px;
  height: 19px;
  margin: auto;
}

.social__item {
  width: 22px;
  height: 19px;
}

.social__link {
  display: block;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--vk {
  background-image: url("../img/icon-vk-mobile.svg");
  background-size: 22px 12px;
}

.social__link--instagramm {
  background-image: url("../img/icon-insta-mobile.svg");
  background-size: 16px 16px;
}

.social__link--facebook {
  background-image: url("../img/icon-fb-mobile.svg");
  background-size: 10px 19px;
}
