.suggestion-more {
  position: relative;
}

.suggestion-more::before {
  content: "";
  position: absolute;
  top: 27px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.suggestion-more__title {
  @include heading-styles-reset;
  color: $font-color-black;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
}

.suggestion-more__slogan {
  font-size: 12px;
  line-height: 16px;
  margin-top: 11px;
  margin-bottom: 22px;
  text-align: center;
}

.suggestion-more__button {
  @include button-styles-reset;
  @include button-styles-design;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}

.suggestion-more__button:hover {
  background-color: #ebebeb;
}

.suggestion-more__button:active {
  color: #c4c4c4;
  background-color: #ebebeb;
}
