@mixin button-styles-design {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  padding: 11px 10px 11px 10px;
  width: 100%;
  max-width: 280px;
  background-color: #68b737;
}
