$font-color-black: #111111;
$font-color-gray: #444444;

$green-deafault: #68b737;
$green-dark: #5eaa2f;
$green-light: #8cc26a;

$gray-default: #f2f2f2;
$gray-havy-dark: #a5a5a5;
$gray-dark: #c4c4c4;
$gray-middle: #d9d9d9;
$gray-light: #ededed;

$red-error: #ff8282;
