$color-black: #111111;
$color-white: #ffffff;

$color-green-deafault: #68b737;
$color-green-dark: #5eaa2f;
$color-green-middle: #74b84b;
$color-green-light: #8cc26a;

$color-gray-darkest: #444444;
$color-gray-default: #f2f2f2;
$color-gray-havy-dark: #a5a5a5;
$color-gray-dark: #c4c4c4;
$color-gray-middle: #d9d9d9;
$color-gray-light: #ededed;

$color-red-error: #ff8282;
