.header__wrapper {
  position: relative;
  padding: 12px 20px 12px 20px;
}

.header__wrapper::after {
  content: "";
  position: absolute;
  top: 24px;
  left: calc(50% - 52px);
  width: 101px;
  height: 18px;
  background-image: url("../img/logo-mobile-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}
