.conception__wrapper {
  padding: 32px 20px 47px 20px;
}

.conception__title {
  @include heading-styles-reset;
  @include heading-large;
  margin-bottom: 33px;
}

.conception__list {
  @include list-styles-reset;
  max-width: 350px;
  margin: auto;
}

.conception__item {
  font-size: 14px;
  position: relative;
  padding: 6px 0 6px 80px;
  margin-bottom: 32px;
  max-width: 202px;
}

.conception__item:last-child {
  margin-bottom: 0;
}

.conception__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.conception__item--type-eco::before {
  background-image: url("../img/advantage-leaf@1x.png");
  background-image: image-set(
    url("../img/advantage-leaf@1x.png") 1x,
    url("../img/advantage-leaf@2x.png") 2x
  );
}

.conception__item--type-powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.conception__item--type-dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.conception__item--type-time::before {
  background-image: url("../img/advantage-clock@1x.png");
}
