@import "../variables/colors.scss";
@import "../variables/font-family.scss";
@import "../variables/breakpoint.scss";

body {
  font-family: $font-arial;
  color: $color-gray-darkest;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  min-width: $width-mobile;
}
