.promo {
  @include top-line--dark;
  position: relative;
  box-sizing: border-box;
  width: 280px;
  margin: auto;
  padding-top: 39px;
}

.promo::before {
  position: absolute;
  content: "";
  top: 104px;
  left: calc(50% - 30px);
  width: 55px;
  height: 60px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__wrapper {
  padding: 190px 35px 40px 35px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.promo__content {
  width: 165px;
  height: 56px;
  margin: auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
